.DS_Store
.idea/
.vscode/
*.iml
*.log
.env
.env.*
.local-ai-server/
node_modules/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
local_ai_server/.local-ai-server/
