.DS_Store
.idea/
*.iml
node_modules/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
